<!DOCTYPE html>
<!-- Page last generated {{ site.time }} -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <meta name="keywords" content="Rust, ngôn ngữ lập trình, ngôn ngữ lập trình Rust, rustlang, rust-lang, Mozilla Rust">
    <meta name="description" content="Một ngôn ngữ lập trình có tốc độ thực thi nhanh, ngăn chặn các lỗi phân khúc, và bảo đảm an toàn cho hệ thống.">
    <!-- Open Graph -->
    <meta property="og:url" content="https://rust-lang.vn" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Ngôn ngữ lập trình Rust" />
    <meta property="og:description" content="Rust, một ngôn ngữ lập trình có tốc độ thực thi nhanh, ngăn chặn các lỗi phân khúc, và bảo đảm an toàn cho hệ thống." />    
    <meta property="og:image" content="https://rust-lang.vn/logos/rust-logo-512x512.png" />
    <!-- End open graph -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body class="container">
    <a href="https://github.com/rust-lang/rust">
      <img class="ribbon" style="display: none" src="/logos/forkme.png" alt="Fork me on GitHub" width="298" height="298">
    </a>

    <header>
      <ul class="row menu">
	<li class="col-xs-12 col-md-2">
          <a href="/index.html">
            <img class="img-responsive" src="/logos/rust-logo-blk.svg" onerror="this.src='/logos/rust-logo-256x256-blk.png'" height="128" width="128" alt="Rust logo" />
          </a>
	</li>
	<li class="col-xs-12 col-md-10 menu">
	  <h2><a href="/documentation.html">Tài liệu</a></h2>
	  <h2><a href="/install.html">Cài đặt</a></h2>      
	  <h2><a href="/community.html">Cộng đồng</a></h2>
	  <h2><a href="/contribute.html">Đóng góp</a></h2>
	</li>
      </ul>
    </header>

    {{ content }}

    <footer>
      <p>Trang web ở các ngôn ngữ khác nhau:
        <a target="_blank" href="{{site.global_domain}}/en-US">English</a>,
        <a target="_blank" href="{{site.global_domain}}/fr/">Français</a>,
        <a target="_blank" href="{{site.global_domain}}/ko-KR/">한국어</a>,
        <a target="_blank" href="{{site.global_domain}}/pt-BR/">Português</a>,
        <a target="_blank" href="{{site.global_domain}}/ru-RU/">Русский</a>,
        <a target="_blank" href="{{site.global_domain}}/zh-CN/">简体中文</a>
      </p>
    </footer>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-89129994-1', 'auto');
    ga('send', 'pageview');

    </script>
  </body>
</html>
